h1{color:rgb(255, 145, 42);
font-size: 60px;
text-align: center;
text-shadow:black 3px 3px;}

h2{color: rgb(255, 145, 42);
font-size: 45px;
text-align: center;
text-shadow:black 3px 3px;}

p{text-align: center;
    font-size: 30px;
color: aliceblue;
text-shadow:black 3px 3px;}



.img1{width: 1875px;
margin-left: 0px;
border-style:double;
border-color: rgb(255, 145, 42);
border-radius: 3px;
border-width: 7px;}

.img2{width: 900px;
margin-left: 500px;
border-style: double;
border-color: rgb(255, 145, 42);
border-radius: 3px;
border-width: 7px;}

.img3{width: 600px;
margin-left: 640px;
border-style: double;
border-color: rgb(255, 145, 42);
border-radius: 3px;
border-width: 7px;}

.img4{width: 600px;
    margin-left: 640px;
    border-style: double;
    border-color: rgb(255, 145, 42);
    border-radius: 3px;
    border-width: 7px;}

    .img5{width: 1875px;
        margin-left: 0px;
        margin-top: 20px;
        border-style: double;
        border-color: rgb(255, 145, 42);
        border-radius: 3px;
        border-width: 7px;}



body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;background-color: rgb(0, 0, 0);
    
background-image: linear-gradient(black, rgb(57, 53, 73), black,rgb(57, 53, 73),black );}

.div1{border: solid;
    color: rgb(255, 145, 42);
    background-image:url(imagens/JeskoThumbnail_V2.png  );}


    hr{border-color: rgb(255, 145, 42);}

    

